<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.et.TestWindowManager"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <service 
    	android:process=":remote" 
    	android:name="com.et.service.RemoteService">
    		<intent-filter>
    			<action android:name="com.et.service.addwindows"></action>
    		</intent-filter>
	</service>
</application>
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
<uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"></uses-permission>
</manifest> 